@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <!-- Carrusel -->
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/comercio-electronico-1024x683-1.jpg" class="d-block w-100" alt="comercio-electronico-1024x683-1">
                        <div class="carousel-caption d-block">
                            <h5 class="mb-3">// Visitanos en nuestra tienda en línea</h5>
                            <p class="carousel-title">PRODUCTOS A UN CLIC</p>
                            <button class="btn btn-carousel mt-5">IR A TIENDA</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/seiton-soluciones-en-mps.jpg" class="d-block w-100" alt="seiton-soluciones-en-mps">
                        <div class="carousel-caption d-block">
                            <h5 class="mb-3">// Nuestros servicios de impresión</h5>
                            <p class="carousel-title">TODO LO NECESARIO</p>
                            <p class="mt-3 carousel-subtitle">Contamos con servicios para mejora en cuanto a impresión y control</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/slide3-home1.jpg" class="d-block w-100" alt="slide3-home1">
                        <div class="carousel-caption d-block">
                            <h5 class="mb-3">// Toners, equipos de impresión, cómputo, oficina</h5>
                            <p class="carousel-title">TODO LO QUE NECESITAS</p>
                            <p class="mt-3 carousel-subtitle">Somos tu mejor opción</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Marcas -->
    <div class="row">
        <div class="col m-5">
            <img src="img/dell.png" class="d-block w-100" alt="dell">
        </div>
        <div class="col m-5">
            <img src="img/epson.png" class="d-block w-100" alt="epson">
        </div>
        <div class="col m-5">
            <img src="img/hp-1.png" class="d-block w-100" alt="hp">
        </div>
        <div class="col m-5">
            <img src="img/lenovo.png" class="d-block w-100" alt="lenovo">
        </div>
        <div class="col m-5">
            <img src="img/lexmark.jpg" class="d-block w-100" alt="lexmark">
        </div>
        <div class="col m-5">
            <img src="img/LG.png" class="d-block w-100" alt="lg">
        </div>
    </div>
    <!-- Nosotros -->
    <div class="row">
        <div class="col">
            <span class="tag-text">// NOSOTROS</span>
            <h3 class="titulo">INICIO</h3>
            <p>AP TONER se proyecta como una empresa dirigida a la venta de tecnología, contando con 14 años de experiencia.</p>
        </div>
    </div>
    <!-- Misión y visión -->
    <div class="row mt-4">
        <div class="col">
            <h3 class="titulo align-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#012c8b" class="bi bi-award" viewBox="0 0 16 16">
                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z" />
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z" />
                </svg>

                MISIÓN
            </h3>
            <hr />
            <p>
                Brindar a la sociedad productos que satisfagan sus necesidades en cuanto a costo, servicio y garantía; mediante el compromiso de nuestro personal de ir a la vanguardia en tecnología, capacitación y calidad.
            </p>
        </div>
        <div class="col">
            <span></span>
            <h3 class="titulo">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#012c8b" class="bi bi-lightbulb" viewBox="0 0 16 16">
                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1" />
                </svg>

                VISIÓN
            </h3>
            <hr />
            <p>
                Ser una empresa líder a nivel nacional en su ramo, a fin de ser la mejor opción para el cliente en cuanto a insumos de bienes informáticos, papelería y artículos de limpieza.
                </p>
        </div>
    </div>
    <!-- Por qué elegirnos -->
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="row por-que-elegirnos">
                <span class="tag-text-light text-center">// POR QUÉ ELEGIRNOS</span>
                <h3 class="titulo text-center">NUESTRO TRABAJO SE BASA EN CALIDAD</h3>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="card h-100 position-relative d-flex flex-column">
                            <span class="number titulo">01</span>
                            <div class="circle"></div>
                            <div class="card-body p-4">
                                <h4 class="card-title subtitulo m-4">Equipos de Impresión</h4>
                                <p class="card-text m-4">Nuestro objetivo es proveerte los mejores equipos de impresión en renta o venta para tu negocio o personal.</p>
                            </div>
                            <div class="icon">🖨️</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card h-100 position-relative d-flex flex-column">
                            <span class="number titulo">02</span>
                            <div class="circle"></div>
                            <div class="card-body p-4">
                                <h4 class="card-title subtitulo m-4">Equipos de Cómputo</h4>
                                <p class="card-text m-4">Proveer equipos optimizados, y la mejor eficacia para tus trabajos día a día.</p>
                            </div>
                            <div class="icon">💻</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 position-relative d-flex flex-column">
                            <span class="number titulo">03</span>
                            <div class="circle"></div>
                            <div class="card-body p-4">
                                <h4 class="card-title subtitulo m-4">Servicios de Impresión</h4>
                                <p class="card-text m-4">Te damos las mejores opciones para controlar tus impresiones y llevar una adecuada administración.</p>
                            </div>
                            <div class="icon">📊</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 position-relative d-flex flex-column">
                            <span class="number titulo">04</span>
                            <div class="circle"></div>
                            <div class="card-body p-4">
                                <h4 class="card-title subtitulo m-4">Seguridad</h4>
                                <p class="card-text m-4">Todo servicio brindado, cuenta con la mejor implementación de seguridad, basada en procesos ITIL.</p>
                            </div>
                            <div class="icon">🔒</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Servicios -->
    <div class="row servicios mb-5">
        <div class="col">
            <div class="card h-100 servicios-bg1 card-overlay">
                <div class="card-body">
                    <h4 class="card-title subtitulo m-4">Gestión de Proyectos</h4>
                    <p class="card-text m-4">Nosotros nos encargamos de la calidad y eficaz respuesta de tu servicio de impresión o proyecto.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 servicios-bg2 card-overlay">
                <div class="card-body">
                    <span class="num titulo ms-4" data-to="23" data-time="2000">0</span><span class="titulo">k</span>
                    <h4 class="card-title subtitulo ms-4">Clientes Satisfechos</h4>
                    <p class="card-text m-4">Muchos clientes están satisfechos con sus productos, servicios y otros proyectos en los cuales hemos participado, ¿tú qué esperas?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Objetivo -->
    <div class="row">
        <div class="col">
            <img src="img/image1-home2.png" class="d-block w-100" alt="dell">
        </div>
        <div class="col">
            <span class="tag-text">// NOSOTROS</span>
            <h3 class="titulo">NUESTRO OBJETIVO PRINCIPAL</h3>
            <p>Solucionar las necesidades de nuestro mercado, brindando productos que satisfagan en cuanto a costo, servicio, calidad y garantía, con el objetivo de ser una empresa líder a nivel nacional en su ramo, a fin de ser la mejor opción y exceder las expectativas de nuestros clientes.</p>
        </div>
    </div>
</div>
